<div class="mx-auto p-4 border border-info rounded" style="border:solid 1px #343a40; max-width:1200px;">
  <h2 class="text-center">プロフィール画面</h2><br/>
  <br>
  <div class="row">
    <div class="float-left">
      <% if @user_student.profile_image.attached? %>
      <%= image_tag @user_student.profile_image.variant(combine_options:{gravity: :center,
                                                                        border:'2',
                                                                        resize:"200x200^",
                                                                        crop:"220x220+0+0"}).processed,
                                                                        class: "img border-info"%><br/>
      <% end %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-md-6">
          <h5>ユーザー名</h5>
          <p class="alert alert-info rounded"><%= @user_student.name %></p>
        </div>
        <div class="col-md-6">
          <h5>メールアドレス</h5>
          <p class="alert alert-info rounded"><%= @user_student.email %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>生徒ID</h5>
          <p class="alert alert-info rounded"><%= @user_student.student_id %></p>
        </div>
        <div class="col-md-6">
          <h5>学校ID</h5>
          <p class="alert alert-info rounded"><%= @user_student.school_id %></p>
        </div>
      </div>
      <br/>
      <hr>
      <br/>
      <div class="row">
        <div class="col-md-4">
          <h5>生年月日</h5>
          <p class="alert alert-info rounded form"><%= @user_student.birth_date %></p>
        </div>
        <div class="col-md-4">
          <h5>学年</h5>
          <p class="alert alert-info rounded form"><%= @user_student.grade %></p>
        </div>
        <div class="col-md-4">
          <h5>血液型</h5>
          <p class="alert alert-info rounded form"><%= @user_student.blood_type %></p>
        </div>
      </div>

      <br>
    </div>
  </div>
  <%= link_to "編集", edit_user_student_registration_path , class: "btn btn-info float-right"%>
  <br>
</div>

<div class="mx-auto p-4 border border-info rounded mt-3" style="border:solid 1px #343a40; max-width:1200px;">
  <h4><%= current_user_student.name%>さんの過去の投稿記録</h4><br/>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |student_contact| %>
        <tr>
          <td><%= student_contact.title.truncate(15) %></td>
          <td><%= student_contact.content.truncate(15) %></td>
          <td><%= link_to 'Show', student_contact, class: "text-info" %></td>
          <td><%= link_to 'Edit', edit_contact_path(student_contact), class: "text-info" %></td>
          <td><%= link_to 'Destroy', student_contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="my-4 mx-auto" style="width: 200px;">
    <%= paginate @contacts %>
  </div>
</div>
