<div class="mx-auto p-4" style="border:solid 1px #343a40; max-width:700px;">
  <h2><%= t('.sign_up') %></h2>
  <br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <%= f.label :student_id %><br />
        <%= f.text_field :student_id, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group col">
        <%= f.label :school_id %><br />
        <%= f.text_field :school_id, autofocus: true, class: "form-control" %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <%= f.label :birth_date %><br />
        <div class="input-group">
          <%= f.date_select :birth_date, { order: [:year, :month, :day],
                                         start_year: Date.current.year - (18),
                                         end_year: Date.current.year,
                                         prompt: {year: '年', month: '月', day: '日'}},
                                         class: 'form-control'
          %>
        </div>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :grade %><br />
        <%= f.select :grade, {小学1年生: '小学1年生',
                              小学2年生: '小学2年生',
                              小学3年生: '小学3年生',
                              小学4年生: '小学4年生',
                              小学5年生: '小学5年生',
                              小学6年生: '小学6年生',
                              中学1年生: '中学1年生',
                              中学2年生: '中学2年生',
                              中学3年生: '中学3年生',
                              高校1年生: '高校1年生',
                              高校2年生: '高校2年生',
                              高校3年生: '高校3年生',
                            },
                            { include_blank: '学年記入'},
                            {  class: "form-control", required: true }
        %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label :blood_type %><br />
        <%= f.select :blood_type, {A型: 'A型',
                              B型: 'B型',
                              AB型: 'AB型',
                              O型: 'O型',
                            },
                            { include_blank: '血液型'},
                            {  class: "form-control",required: true }
        %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :profile_image%><br />
      <%= f.label :profile_image, class: "btn btn-info" do %>
        <i class="far fa-image"> プロフィール画像ファイルを選択</i>
      <% end %>
      <%= f.file_field :profile_image, class: "image_form", style: "display: none;"%>
    </div>


    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %> </em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions mt-4">
      <%= f.submit t('.sign_up'), class: "form-control btn btn-info" %>
    </div>
  <% end %>
</div>


<div class="mt-4 mx-auto p-4" style="border:solid 1px #343a40; max-width:700px;">
  <%= render "user_students/shared/links" %>
</div>
