<div class="card mx-auto" style="max-width:700px;">
  <div class="card-header alert-info">
    <div style="font-size:0.7rem;" >
      <% if @contact.user_student  %>
        <%= @contact.user_student.student_id %>
        <%= @contact.user_student.name %>
      <% elsif @contact.user_officer %>
        <%= @contact.user_officer.name %>
      <% end %>
      <%= @contact.created_at %>
    </div>
    <div class="text-center my-3">
      <strong><%= @contact.title %></strong>
    </div>
  </div>

  <div class="card-body p-4">
    <div style="min-height:200px;">
      <% if @contact.image.attached? %>
        <%= image_tag @contact.image.variant(resize: "700x700").processed, style: "width:100%;" %>
      <% end %>
      <%= simple_format @contact.content %>
    </div>

    <hr>

    <% if current_user_student == @contact.user_student %>
      <%= link_to "編集", edit_contact_path, class: "text-info float-right" %>
    <% end %>
  </div>
</div>
<br>
<div class="card mx-auto" style="max-width:700px;">
  <div class="card-body p-4">
    <div class="text-center my-3"> 
      <strong>コメント一覧</strong> 
    </div>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, contact: @contact } %>
    </div>
    <hr>
    <div id="comment_form">
      <%= render partial: 'comments/form', locals: { comment: @comment, contact: @contact } %>
    </div>
    <hr>
    <%= link_to '編集', edit_contact_path(@contact) , class: "text-info float-right"%> 
    <%= link_to '戻る', contacts_path, class: "text-info float-right"%> 
  </div>
</div>
