<ul>
  <% student_comments.each do |student_comment| %>
    <% if student_comment.id.present? %>
      <li class="list-unstyled">
        <div class="student_comment-content" id ="this_comment_<%= student_comment.id %>"></div>
        <% if student_comment.comment_image.attached? %>
          <%= image_tag student_comment.comment_image.variant(resize: "600x600").processed, style: "width:100%;" %>
        <% end %>
        <%= student_comment.content %>
        <hr>
        <%= link_to "コメント編集", edit_contact_student_student_comment_path(contact_student, student_comment), remote: true , class: "text-info float-right"%>
        <br>
        <%= link_to "コメント削除", contact_student_student_comment_path(student_comment.contact_student_id, student_comment.id), method: :delete, remote: true,
                                        data: { confirm: "本当に削除しますか?"} , class: "text-info float-right"%>
      </li>
    <% end %>
  <% end %>
</ul>
